# This file is an example of the environment variables needed to run the trapper frontend.
# You can copy this file to .env and modify the values as needed.
# The variables are explained as follows:
# - TRAPPER_BACKEND_URL: The URL of the trapper backend API.
TRAPPER_BACKEND_URL="https://wildintel-trap.uhu.es"
# - TRAPPERCS_DOMAIN: The domain name of the trapper frontend.
TRAPPERCS_DOMAIN="wildintel-cs.uhu.es"
# - COMPOSE_PROJECT_NAME: The name of the docker compose project.
COMPOSE_PROJECT_NAME="trapper-frontend"
# - BUILD_IMAGES: Whether to build the docker images or not. Set to 1 to build, 0 to use existing images.
BUILD_IMAGES=0
# Other variables that can be set for the trapper frontend:
APP_NAME="trapper-frontend-cs"
# The path to the Dockerfile for the trapper frontend. This can be set to a custom path if needed.
DOCKERFILE="docker/Dockerfile"
# The number of instances of the trapper frontend to run. This can be set to a higher number for better performance,
# but it will also consume more resources.
INSTANCES=3
# The log level for the trapper frontend. This can be set to DEBUG, INFO, WARNING, ERROR, or CRITICAL.
CADDY_LOG_LEVEL=INFO
# The profile to use for the trapper frontend. This can be set to a custom profile if needed. Valid values are "prod"
# and "debug".
CADDY_PROFILE=prod
# Docker network used by Traefik to reach this service
TRAEFIK_NETWORK=wildintel-proxy
# Whether to enable TLS for the trapper frontend. Set to true to enable, false to disable. If enabled, Traefik will
#
TLS_ENABLED=true
